<div class="panel panel-default">
  <div class="panel-heading">
    <span class="">
    <input class="form-control" autofocus="autofocus" style="max-width: 15em; display: inline-block;"
           ng-model="ctrl.searchText" placeholder="search..." ng-keyup="ctrl.searchUser()">
      <label>{{ctrl.totalUsers.count}} users found</label>
    </span>
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-success" ui-sref="^.add()">
        <i class="fa fa-plus"></i>
      </a>
    </span>
  </div>

  <div class='list-group'>
    <div ng-repeat="user in ctrl.users track by $index  | orderBy: 'email'" class="list-group-item col-md-12">
      <span class="pull-right btn-group">
        <a class="btn btn-xs btn-default" ui-sref="app.users.edit({ id: user.id })">
          <i class="fa fa-pencil"></i>
        </a>
        <a class="btn btn-xs btn-danger" ui-sref="app.users.delete({ id: user.id })">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>
      <div class="col-md-6">
        <div>
          <span>Display Name:</span>
          <label>{{ user.display_name || user.firstName +' ' + user.lastName}}</label>
        </div>
        <div>
          <span>Email:</span>
          <label><a class="text-muted" editable-text="user.email" onaftersave="ctrl.updateUser(user, $index)">{{user.email}}</a></label>
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <span>First Name:</span>
          <label><a class="text-muted" editable-text="user.firstName" onaftersave="ctrl.updateUser(user, $index)">{{user.firstName || '-'}}</a></label>
        </div>
        <div>
          <span>Last Name:</span>
          <label><a class="text-muted" editable-text="user.lastName" onaftersave="ctrl.updateUser(user, $index)">{{user.lastName || '-' }}</a></label>
        </div>
      </div>
    </div>
    <div class="list-group-item col-md-12">
      <div class="pull-left col-md-4">Record {{ ctrl.offset}} to {{ctrl.offset+ ctrl.limit > ctrl.totalUsers.count ? ctrl.totalUsers.count : ctrl.offset+ ctrl.limit}} of {{ctrl.totalUsers.count}}</div>

      <div class="input-group pull-right col-md-3">
        <div class="input-group-btn">
          <button class="btn btn-default" type="button" ng-disabled="ctrl.currentPage == 1" ng-click="ctrl.getPrevUsers()">&lt;&lt; Prev</button>
        </div>
        <div class="input-group-btn" style="min-width: 75px;">
          <input type="number" class="form-control" placeholder="Page" min="1" max="{{ctrl.totalPage}}"
                 ng-model="ctrl.currentPage">
        </div>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-disabled="ctrl.currentPage <=0 ||ctrl.currentPage >= ctrl.totalPage || ctrl.currentPage*ctrl.limit >= ctrl.totalUsers.count" ng-click="ctrl.getGoUser()">Go</button>
          <button class="btn btn-default" type="button" ng-disabled="ctrl.currentPage == ctrl.totalPage" ng-click="ctrl.getNextUsers()">Next&gt;&gt;</button>
        </div>
      </div>
    </div>
  </div>
</div>
